@foreach (var pizza in Order.Pizzas)
{

	<div class="review-order-text">
		<p>

			@(pizza.Size)"
			@pizza.Special?.Name
			($@pizza.GetFormattedTotalPrice())

		</p>

		<ul>
			@foreach (var topping in pizza.Toppings)
			{
				<li>+ @topping.Topping?.Name</li>
			}
		</ul>

	</div>

	<br />
}
<div class="review-order-text-price">
	<p>

		Total Price:
		<br />
		$@Order.GetFormattedTotalPrice()

	</p>
</div>

<div class="net-photo">

	<img src="img/the-net.png"
		 class="img-fluid"
			alt="image from the movie, The Net, Your pizza will arive in 45 minutes. Gratuity not included. Thank you for your order, Angela Bennett!"/>

</div>

@code {
	[Parameter, EditorRequired] public Order Order { get; set; } = new();
}
